@import "fh_mixins";
@import "fh_variables";

body {

    padding-top: 70px;

}

p {
    @include std-typo
}

h1 {
    @include typo-headline
}


header {
    text-align:             center;
    font-size:              4em;
    padding:                1em 0 .5em 0;
}

footer {
    text-align:             center;
    padding-bottom:         2em;
}

article {
    &.multicol {

        /* Large desktop */
        @media (min-width: 1200px) {
            @include multi-col-text(3);
            padding:        2em 6em;
            max-width:      80%;
        }

        /* Portrait tablet to landscape and desktop */
        @media (min-width: 768px) and (max-width: 979px) {
        }

        /* Landscape phone to portrait tablet */
        @media (max-width: 767px) {
            @include multi-col-text(2);
            padding:        2em 2em;
        }

        /* Landscape phones and down */
        @media (max-width: 480px) {
            @include multi-col-text(1);
            padding:        2em 1em;
        }

        // Default

    }
    margin:                 0 auto;
    text-align:             justify;

    .portrait {
        width:              6em;
        height:             6em;
        margin:             0 1em 0 0;

    }
}
