@import "fh_mixins";
@import "fh_variables";

body {
    padding-top: 50px;
    position: relative;
    background: url(../img/bg_pattern.png);
}

p, ul, li {
    @include std-typo
}

h1, h2 {
    @include typo-headline
}

h3 {
    @include std-typo;
    font-size: 25px;
    border-bottom: 1px solid black;
}

article {
    padding-top: 50px;
    display: block;
}

header {
    text-align:             center;
    font-size:              4em;
    padding-top:            60px;
}

footer {
    text-align:             right;
    padding-bottom:         30em;
}

a { color: #890000; }
a:hover { color: #890000; text-decoration: underline;   }

#main-navbar {
    -webkit-box-shadow: 0px 5px 15px 0px #191919; /* WebKit */
    -moz-box-shadow: 0px 5px 15px 0px #191919; /* Firefox */
    box-shadow: 0px 5px 15px 0px #191919; /* Standard */
    background-color: #5C0101;
    @include std-typo
}

#main-navbar a { color: #e7e7e7; }
#main-navbar a:hover { background-color: #3C0000; }
#main-navbar a:active { background-color: #3C0000; }
#main-navbar li.active a { color: #3C0000; }
#main-navbar li.active a:hover { color: #e7e7e7; }

.main-container {
    background-color: white;
}


article {
    &.multicol {

        /* Large desktop */
        @media (min-width: 1200px) {
            @include multi-col-text(3);
            padding:        2em 6em;
            max-width:      80%;
        }

        /* Portrait tablet to landscape and desktop */
        @media (min-width: 768px) and (max-width: 979px) {
        }

        /* Landscape phone to portrait tablet */
        @media (max-width: 767px) {
            @include multi-col-text(2);
            padding:        2em 2em;
        }

        /* Landscape phones and down */
        @media (max-width: 480px) {
            @include multi-col-text(1);
            padding:        2em 1em;
        }

        // Default

    }
    margin:                 0 auto;
    text-align:             justify;

    .portrait {
        width:              6em;
        height:             6em;
        margin:             0 1em 0 0;

    }
}
