body {
  padding-top: 50px;
  position: relative;
  background: url(../img/bg_pattern.png); }

p, ul, li, dl {
  font-family: "Gentium Basic", "Arial", serif;
  font-size: 18px;
  line-height: 1.5em;
  color: black; }

h1, h2 {
  color: white;
  font-family: "Oswald", "Arial", serif;
  background-color: #5C0101;
  padding: 10px 0 10px 30px; }

h3 {
  color: black;
  font-family: "Oswald", "Arial", serif;
  font-size: 16px;
  padding-left: 10px;
  font-size: 25px;
  border-bottom: 1px solid black; }

article {
  padding-top: 50px;
  display: block; }

header {
  text-align: center;
  font-size: 4em;
  padding-top: 60px; }

footer {
  text-align: right;
  padding-bottom: 30em; }

.nav li {
  font-family: "Oswald", "Arial", serif;
  font-size: 20px; }

a {
  color: #890000; }

a:hover {
  color: #890000;
  text-decoration: underline; }

#main-navbar {
  -webkit-box-shadow: 0px 5px 15px 0px #191919;
  /* WebKit */
  -moz-box-shadow: 0px 5px 15px 0px #191919;
  /* Firefox */
  box-shadow: 0px 5px 15px 0px #191919;
  /* Standard */
  background-color: #5C0101;
  font-family: "Gentium Basic", "Arial", serif;
  font-size: 18px;
  line-height: 1.5em;
  color: black; }

#main-navbar a {
  color: #e7e7e7; }

#main-navbar a:hover {
  background-color: #3C0000; }

#main-navbar a:active {
  background-color: #3C0000; }

#main-navbar li.active a {
  color: #3C0000; }

#main-navbar li.active a:hover {
  color: #e7e7e7; }

.main-container {
  background-color: white; }

.modal {
  text-align: left; }

article {
  margin: 0 auto;
  text-align: justify; }
  article.multicol {
    /* Large desktop */
    /* Portrait tablet to landscape and desktop */
    /* Landscape phone to portrait tablet */
    /* Landscape phones and down */ }
    @media (min-width: 1200px) {
      article.multicol {
        column-count: 3;
        column-gap: 2em;
        -moz-column-count: 3;
        -moz-column-gap: 2em;
        -webkit-column-count: 3;
        -webkit-column-gap: 2em;
        padding: 2em 6em;
        max-width: 80%; } }
    @media (max-width: 767px) {
      article.multicol {
        column-count: 2;
        column-gap: 2em;
        -moz-column-count: 2;
        -moz-column-gap: 2em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2em;
        padding: 2em 2em; } }
    @media (max-width: 480px) {
      article.multicol {
        column-count: 1;
        column-gap: 2em;
        -moz-column-count: 1;
        -moz-column-gap: 2em;
        -webkit-column-count: 1;
        -webkit-column-gap: 2em;
        padding: 2em 1em; } }
  article .portrait {
    width: 6em;
    height: 6em;
    margin: 0 1em 0 0; }
